<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="livraria" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Estudo\Asp.Net\Projeto_Exemplo Livraria WebApi_SQL\Livraria\Livraria_SQL\Livraria.Servico\App_Data\Banco.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>